.wide-ruled{
    background-image: url(./imgs/wide-ruled.png);
}

.wide-ruled-text{
    margin-left: 60px;
    line-height: 45px;
}

.college-ruled{
    background-image: url(./imgs/college-ruled.png);
}

.college-ruled-text{
    margin-left: 60px;
    line-height: 35px;
}

.black-grid{
    background-image: url(./imgs/black-grid.png);
}

.white-grid{
    background-image: url(./imgs/white-grid.png);
}